.container {
  width: 80%;
  margin: auto;
}

.App {
  height: 100%;
}

.outlet {
  margin-top: 20px;
}

#root {
  height: 100%;
}

.home {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}

.home1 {
  justify-self: left;
  width: 100%;
  min-width: 300px;
}

.home2 {
  justify-self: center;
  align-self: center;
  text-align: center;
  padding: 5px;
}
